.results
    .results__list
        .results__item
            a.results__card.selected(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/1.jpg" alt="" loading="lazy")
                h3.results__title ОРИГИНАЛ
                p.results__text Адидас Маратон Осенние
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/2.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки длинной в две строки Текст карточки длинной в две строки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/3.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/4.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/5.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/6.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/7.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/8.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/9.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/10.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/11.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/12.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/13.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/14.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/15.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/16.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/17.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/18.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/19.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
        .results__item
            a.results__card(href="#")
                .results__pic
                    img(src="https://aws.massive.ru/widget-img-analog/20.jpg" alt="" loading="lazy")
                h3.results__title A9518LM-5BA
                p.results__text Текст карточки
