ul.examples
    li.examples__item
        .examples__pic
            img(src="https://aws.massive.ru/widget-img-analog/wb.png" alt="" loading="lazy")

        p.examples__text Как подобное решение внедрено на Wildberries?

        button.link.examples__link(type="button") Посмотреть

    li.examples__item
        .examples__pic
            img(src="https://aws.massive.ru/widget-img-analog/ozon.png" alt="" loading="lazy")

        p.examples__text Как внедрено на Ozon?

        button.link.examples__link(type="button") Посмотреть

a.examples__button.btn.btn_base.btn_block(href="#") Хочу также на своем интернет-магазине