doctype html
html(lang="ru")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")

        meta(name="description" content="description")
        meta(name="keywords" content="keywords")
        title Analog Searching Demo

        link(rel="icon" type="image/png" href="data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=")

        link(rel='preload', href='css/main.css', as='style')
        link(rel='stylesheet', href='css/vendor.css')

    body
        .container
            h1 Hello world!

        script(src=`js/pages/${page}.min.js` defer)
