.asd {
    .res-msg {
        display: block;
        margin-top: 0;
        margin-bottom: calc(var(--base-offset) * 4);

        p {
            font-size: 18px;
            font-weight: 500;

            span {
                font-weight: 400;
            }
        }
    }
}