ul.uploading
    li.uploading__item
        span.uploading__text Анализ корректности формата файла
        span.uploading__check.uploading__check_checked
    li.uploading__item
        span.uploading__text Скачивание изображений
        span.uploading__check.uploading__check_loading
    li.uploading__item
        span.uploading__text Создание Кропов (индексов изображений)
        span.uploading__check.uploading__check_loading
    li.uploading__item
        span.uploading__text Добавляем в поисковую базу
        span.uploading__check.uploading__check_loading
    li.uploading__item
        span.uploading__text Ура! Можно попробовать поиск
        span.uploading__check.uploading__check_loading
