.card
    h3.title Важно!

    p.text
        | Фид должен быть в формате 
        a.link(href="#") Яндекс YML

    p.text Ограничения для демонстрационных целей - 5000 товаров. Т.е. из вашего фида будут взяты первые 5000 товаров. Время обработки такого файла ориенировочно 6 минут. Статус будет показан в процессе.

    p.text После окончания обработки, фид будет доступен в выпадающем окне слева и можно будет попробовать осуществить поиск.