@import '../../../../scss/sass-variables';

.asd {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: calc(var(--base-offset) * 2);
        width: 100%;
        margin-bottom: calc(var(--base-offset) * 2);

        @media (min-width: $md) {
            margin-bottom: calc(var(--base-offset) * 3);
        }

        @media (min-width: $xl) {
            margin-bottom: calc(var(--base-offset) * 4);
        }
    }

    &__form-group {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: var(--base-offset);
        width: 100%;
    }

    [data-type-target] {
        display: none;

        &.visible {
            display: flex;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        gap: var(--base-offset);
        width: 100%;
        height: auto;

        @media (min-width: $sm) {
            gap: calc(var(--base-offset) * 2);
        }

        mark {
            display: block;
            position: relative;
            background: transparent;
            width: calc(100vw - calc(var(--base-offset) * 2));
            margin-right: calc(-100vw - calc(var(--base-offset) * 2));
            font-size: 14px;

            @media (min-width: $sm) {
                width: auto;
                margin-right: initial;
                font-size: 18px;
            }
        }

        input {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
            height: calc(var(--base-offset) * 4);
            padding: 0 var(--base-offset);
            border-radius: 7px;
            border: 1px solid var(--color-border);
            background: var(--color-secondary);
            font-size: 14px;
            outline: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media (min-width: $sm) {
                height: calc(var(--base-offset) * 5);
                padding: 0 calc(var(--base-offset) * 2);
                font-size: 18px;
            }
        }
    }

    &__res-count {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        gap: var(--base-offset);
        max-width: 40%;
        height: calc(var(--base-offset) * 4);
        padding: 0 var(--base-offset);
        font-size: 14px;
        border-radius: 7px;
        border: 1px solid var(--color-border);
        background: var(--color-tabs-back);

        @media (min-width: $sm) {
            height: calc(var(--base-offset) * 5);
            padding: 0 calc(var(--base-offset) * 2);
            font-size: 18px;
        }

        &.invisible {
            display: none;
        }

        mark {
            display: block;
            background: transparent;
            width: 100%;
            outline: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        span {
            flex-shrink: 0;
            display: block;
            position: relative;
            width: 20px;
            height: 20px;
            cursor: pointer;

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    &::before, &::after {
                        background-color: var(--color-accent);
                        opacity: 1;
                    }
                }
            }

            &::before, &::after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 2px;
                height: 18px;
                background-color: var(--color-primary);
                opacity: 0.6;
                transition: var(--base-transition);
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    &__buttons-wrap {
        display: flex;
        flex-direction: column;
        gap: var(--base-offset);
        width: 100%;

        @media (min-width: $sm) {
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: calc(var(--base-offset) * 2);
        }

        button {
            @media (max-width: $sm - 1) {
                height: calc(var(--base-offset) * 5) !important;
            }
        }
    }

    &__select {
        display: block;
        position: relative;
        width: 100%;
        height: calc(var(--base-offset) * 4);

        @media (min-width: $sm) {
            height: calc(var(--base-offset) * 5);
        }

        &.dropped {
            z-index: 1;

            .select-value {
                border-radius: 7px 7px 0 0;
                border: 1px solid var( --color-tabs-border);
                border-bottom: none;
                background: var(--color-select-back);

                i {
                    transform: scale(1, -1);

                    @media (max-width: $sm - 1) {
                        transform: scale(1, -1) scale(0.8);
                    }
                }
            }

            .select-options {
                display: block;
            }
        }

        ul ul {
            .value {
                font-size: 12px;

                @media (min-width: $sm) {
                    font-size: 14px;
                }
            }
        }

        @mixin generate-padding($level) {
            ul {
                .value {
                    padding-left: calc(var(--base-offset) * #{$level});

                    &::before {
                        flex-shrink: 0;
                        content: '';
                        display: inline-block;
                        position: relative;
                        width: 4px;
                        height: 4px;
                        background-color: var(--color-lite);
                        border-radius: 50%;
                        margin-right: var(--base-offset);
                        top: 50%;
                        transform: translateY(calc(-50% - 1px));
                    }
                }

                @if $level < 40 {
                    @include generate-padding($level + 2);
                }
            }
        }

        ul {
            @include generate-padding(4);
        }

        .select-value {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--base-offset);
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0 var(--base-offset);
            border-radius: 7px;
            border: 1px solid var(--color-border);
            background: var(--color-secondary);
            font-size: 14px;
            outline: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            user-select: none;

            @media (min-width: $sm) {
                padding: 0 calc(var(--base-offset) * 2);
                font-size: 18px;
            }

            span {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            i {
                flex-shrink: 0;
                display: block;
                width: 24px;
                height: 24px;
                background: transparent no-repeat center;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIyIDlMMTIgMTlMMiA5IiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEuNjY2NjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");

                @media (max-width: $sm - 1) {
                    transform: scale(0.8);
                }
            }
        }

        .select-options {
            display: none;
            border-radius: 0 0 7px 7px;
            border: 1px solid var( --color-tabs-border);
            background: var(--color-select-back);
            padding: var(--base-offset) 0;

            @media (min-width: $sm) {
                padding: calc(var(--base-offset) * 2) 0;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            list-style: none;
        }

        &-item {
            display: flex;
            flex-direction: column;

            input:checked + .value {
                background: var(--color-tabs-border);
                cursor: default;
            }

            .value {
                display: block;
                width: 100%;
                padding: calc(var(--base-offset) / 2) var(--base-offset);
                cursor: pointer;
                transition: var(--base-transition);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-size: 14px;

                @media (min-width: $sm) {
                    font-size: 16px;
                    padding: calc(var(--base-offset) / 2) calc(var(--base-offset) * 2);
                }

                &.active {
                    background: var(--color-tabs-border);
                    cursor: default;
                    pointer-events: none;
                }

                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        background: var(--color-tabs-border);
                    }
                }
            }
        }
    }

    &__file-input {
        display: flex;
        align-items: center;
        gap: var(--base-offset);
        position: relative;
        width: 100%;
        height: calc(var(--base-offset) * 4);

        @media (min-width: $sm) {
            height: calc(var(--base-offset) * 5);
        }

        label {
            flex-shrink: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            float: left;
            position: relative;
            width: auto;
            height: calc(var(--base-offset) * 3);
            padding: 0 calc(var(--base-offset) * 1.5);
            border-radius: 7px;
            border: 1px solid var(--color-tabs-border);
            background: var(--color-tabs-back);
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            transition: var(--base-transition);

            @media (min-width: $sm) {
                font-size: 18px;
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: var(--color-secondary);
                    border-color: var(--color-border);
                }
            }
        }

        span {
            display: block;
            position: relative;
            float: left;
            font-size: 12px;
            width: auto;
            max-width: calc(100% - 170px);
            height: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media (min-width: $sm) {
                font-size: 16px;
            }
        }

        button {
            flex-shrink: 0;
            display: block;
            position: relative;
            right: 0;
            width: 20px;
            height: 20px;
            background: transparent;
            border: none;
            cursor: pointer;

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    &::before, &::after {
                        background-color: var(--color-accent);
                        opacity: 1;
                    }
                }
            }

            &::before, &::after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 2px;
                height: 20px;
                background-color: var(--color-primary);
                opacity: 0.6;
                -webkit-transition: var(--base-transition);
                transition: var(--base-transition);
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    &__feed-selector {

        mark {
            display: inline-flex;
            align-items: flex-end;
            gap: var(--base-offset);
            position: relative;
            background: transparent;

            .toggler {
                display: flex;
                align-items: center;
                gap: var(--base-offset);
                position: relative;
                cursor: pointer;
                user-select: none;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: calc(100% - 24px - var(--base-offset));
                    height: 0;
                    opacity: 1;
                    transition: var(--base-transition);
                    border-bottom: 1.5px dashed var(--color-primary);
                }

                &::after {
                    content: '';
                    display: block;
                    position: relative;
                    flex-shrink: 0;
                    display: block;
                    width: 24px;
                    height: 24px;
                    background: transparent no-repeat center;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIyIDlMMTIgMTlMMiA5IiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEuNjY2NjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K);
                    transform: scale(1, -1) scale(0.8);
                    top: 4px;

                    @media (max-width: $sm - 1) {
                        top: 4px !important;
                        transform: scale(1, -1) scale(0.7) !important;
                    }
                }

                @media (hover: hover) and (pointer: fine) {
                    &:hover {
                        &::before {
                            opacity: 0;
                        }
                    }
                }
            }
        }

        & + .btn + .info {
            display: none;
        }

        &.collapsed {
            .toggler {
                &::after {
                    transform: scale(1, 1) scale(0.8);
                    top: 1px;

                    @media (max-width: $sm - 1) {
                        top: 2px !important;
                        transform: scale(1, 1) scale(0.7) !important;
                    }
                }
            }

            input {
                display: none;
            }

            & + .btn {
                display: none;
            }

            & + .btn + .info {
                display: block;
            }
        }

    }

    #searchForm, #feedForm {
        display: none;

        &.active {
            display: flex;
        }

        @media (min-width: $lg) {
            display: flex;
        }
    }
}