form(action="").asd__form

    .asd__form-group
        label.asd__label.asd__label_select
            mark Выберите один из тестовых фидов

            // Тоглим список через класс .dropped
            .asd__select
                .select-value
                    span(data-default-value="Все фиды") Все фиды
                    i
                .select-options
                    ul.asd__select-list
                        li.asd__select-item
                            label
                                input.invisible(type='reset')
                                span.value Все фиды
                        li.asd__select-item
                            label
                                input.invisible(type='radio' name='temp' value='')
                                // Выделяем span с помощью класса active
                                span.value mk.allconsoles.ru
                        li.asd__select-item
                            label
                                input.invisible(type='radio' name='temp' value='')
                                span.value dealer.denkirs.ru
                        li.asd__select-item
                            label
                                input.invisible(type='radio' name='temp' value='')
                                span.value fandeco.ru
                        li.asd__select-item
                            label
                                input.invisible(type='radio' name='temp' value='')
                                span.value satro-paladin.com
                        li.asd__select-item
                            label
                                input.invisible(type='radio' name='temp' value='')
                                span.value vashdommebel.ru
                        li.asd__select-item
                            label
                                input.invisible(type='radio' name='temp' value='')
                                span.value swgshop.ru


    label.asd__label.asd__feed-selector.collapsed
        mark Добавить свою выгрузку
            span.points(type="button")
                span
                span
                span
        input(placeholder="URL фида в формате YML")

    button.btn.btn_lite#addUserFeedButton(type="button" data-modal-title="Ошибка" data-modal-text="Вы не добавили Фид. Необходимо указать URL фида в формате YML") Добавить

    include ../info/info